<!DOCTYPE html>
<html lang="en">
<!--Created by Thi Thanh Thu Vu 301239282 - Created on Oct 1, 2022-->
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <title><%= title %></title>
        <meta content="COMP 229, ExpressJS, Assignment1" name="keywords">
        <meta content="COMP 229 Assignment 1" name="description">
        <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    </head>
    <body>
        <div id="allPage">
            <header>
                <img src="/images/logo.png" alt="logo" width="300" height="170">
            </header>
            <nav>
                <ul>
                    <li><a href="/">Home&nbsp;&nbsp;|</a></li>
                    <li><a href="/about">About me&nbsp;&nbsp;|</a></li>
                    <li><a href="/projects">Projects&nbsp;&nbsp;|</a></li>
                    <li><a href="/services">Services&nbsp;&nbsp;|</a></li>
                    <li><a href="/contact">Contact me</a></li>
                </ul>
            </nav>
