<% include partials/header.ejs %>
<link rel="stylesheet" href="/stylesheets/about.css" type="text/css">
<table>
    <tr>
        <td class="about">
            <p>
                * I am an experienced Recruiter who constantly strives to assist companies and candidates in the two-way recruitment process.
                <br>* I am a detail-oriented Payroll Coordinator who always ensures to handle and maintain all the payroll functions correctly in a timely manner.
                <br>* I am also an eager learner who is continually motivated to take on new challenges and develop in my career path.
                <br>* That's why I am now a Software Engineering Student whose goal is to become a Full Stack Developer!
                <br>* Please see my resume <a href="/Thu Vu_Resume.pdf" target="_blank">here.</a>
            </p>
        </td>
        <td class="picture">
            <img src="/images/portrait.jpg" alt="portrait" height="300" width="200">
        </td>
    </tr>
</table>
<% include partials/footer.ejs %>