<% include partials/header.ejs %>
<link rel="stylesheet" href="/stylesheets/assignment1.css" type="text/css">
<h2>~~&nbsp;Welcome to my page&nbsp;~~</h2>
<blockquote class="box">
Hi everyone, my name is Thi Thanh Thu Vu.
<br>I am a student in the Software Engineering Technician Program at Centennial College.
<br>I completed my Business Degree in Vietnam and am currently working in Human Resources industry.
<br>"You have brains in your head. You have feet in your shoes. You can steer yourself any direction you choose."
<br>Just like what Dr. Seuss had said, I believe it is never too late to pursue a new career as long as we have enough passion and try our best! 
</blockquote>
<% include partials/footer.ejs %>