<% include partials/header.ejs %>
<link rel="stylesheet" href="/stylesheets/projects.css" type="text/css">
<fieldset>
    <legend>Project 1: Em2Em</legend>
    <table>
        <tr>
            <td><img src="/images/project1.PNG" alt="project1" width="150" height="150"></td>
            <td>"Em2Em" is built to not only provide agency recruiters with a much more updated and convenient method to keep track of casual/temporary employees’ schedules, attendance, sick leaves etc.. but also equip employees with a platform where they can reach out to employers 24/7.</td>
        </tr>
    </table>
</fieldset>
<fieldset>
    <legend>Project 2: Cookable</legend>
    <table>
        <tr>
            <td><img src="/images/project2.PNG" alt="project2" width="150" height="150"></td>
            <td>"Cookable" allows users to choose a recipe, order ingredients just enough to cook the recipe, and receive recipe suggestions for any uncooked leftovers.</td>
        </tr>
    </table>
</fieldset>
<fieldset>
    <legend>Project 3: XNails</legend>
    <table>
        <tr>
            <td><img src="/images/project3.PNG" alt="project3" width="150" height="150"></td>
            <td>"XNails" is built to help last-minute customers connect with a nail technician in seconds.</td>
        </tr>
    </table>
</fieldset>
<% include partials/footer.ejs %>