<% include partials/header.ejs %>
<link rel="stylesheet" href="/stylesheets/services.css" type="text/css">
<h2>The services which I offer</h2>
<table>
    <tr>
        <td><img src="/images/service1.PNG" alt="service1" width="150" height="150"></td>
        <td><img src="/images/service2.PNG" alt="service2" width="150" height="150"></td>
        <td><img src="/images/service3.PNG" alt="service3" width="150" height="150"></td>
        <td><img src="/images/service4.PNG" alt="service4" width="150" height="150"></td>
    </tr>
    <tr>
        <td colspan="4">
            <a href="/business/list"><h2>Business Contact List</h2></a>
        </td>
    </tr>
</table>
<% include partials/footer.ejs %>