/* Thi Thanh Thu Vu - 301239282 - Oct 1, 2022 */
/* Styling for About Page */

h2
{
    color:#641224;
    font-size: large;
}
.about
{
    text-align: left;
}
.picture
{
    float: right;
    margin-top: 10px;
    margin-left: 30px;
    background-color: #fcedf0;
    border: 1px solid #641224;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    -webkit-box-shadow: 5px 5px 5px #828282;
    -moz-box-shadow: 5px 5px 5px #828282;
    box-shadow: 5px 5px 5px #828282;
}
.picture:hover 
{ 
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: -webkit-transform .5s linear;
    -moz-transition: -moz-transform .5s linear;
    -o-transition: -o-transform .5s linear;
    transition: transform .5s linear; 
}
